*, p {
 padding: 0;
 margin: 0;
}

.col-3 {
 padding-bottom: 25px;
 background-color: #111111;

}

.col-9 {
  background-color: #8e8887;

}

.title {
  margin: 0;
}

.room-title {
 margin: 0;
}

.btn.btn-light {
  margin: 10px;
}

.new-room {
 margin-top: 10px;
 color: white;
}

.odd {
  background-color: #ffffff;
}
.even {
  background-color: #c7c7c7;
}



#bootstrap-overrides p {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.sentAt {
 color: #797979;
}
