<div class="container-fluid">
  <div class="row">

    <div class="col-3">
      <div class="clearfix new-room">
        <h2 class = "title float-left">Bloc Chat</h2>
        <button type="button" class="btn btn-success float-right" ng-click="home.open('sm')">New Room</button>
      </div>
      <div ng-repeat="room in home.rooms">
        <button type="button" class="btn btn-light" ng-click= "home.room = room; home.setRoom(home.room.$id)">{{room.$value}}</button>
      </div>
    </div>

    <div class="col-9">
      <h2 class="room-title" ng-bind ="home.room.$value || '-'"></h2>
      <div class="d-block" ng-repeat="message in home.messages">
        <div ng-class-odd="'odd'" ng-class-even="'even'">
          <div class="clearfix">
            <p class = "float-left username">{{message.username}}</p>
            <p class="float-right sentAt">{{message.sentAt}}</p>
          </div>
          <p>{{message.content}}</p>
        </div>
      </div>
    </div>


  </div>
</div>
